/* General Structure */
html, body {
  padding: 0;
  margin: 0;
  color: white;
  background: black;
  height: 100%;
}

.email-link {
    color: white;
    text-decoration: underline;
}

.section {
    position: relative;
    min-height: 100vh;
}

.left {
    box-sizing: border-box;
    width: 60%;
    height: 100vh;
    min-height: 100vh;
    display: inline-block;
    text-align: center;
    position: relative;
}

.right {
    box-sizing: border-box;
    padding: 100px;
    padding-right: 150px;
    width: 40%;
    height: 100vh;
    min-height: 100vh;
    display: inline-block;
    float: right;
    text-align: right;
    position: relative;
    font-family: 'Montserrat';
    font-weight: 200;
    overflow: scroll;
}

.nonintro {
    text-align: left;
    padding: 130px;
    padding-left: 50px;
}

.otherinfo {
    margin-top: 60px;
    position: relative;
}

.subinfo {
    display: block;
    font-size: 1.3em;
}

.subnonintro {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.scheduleinfo {
    margin-bottom: 5px;
}

.register {
    position: absolute;
    width: 120px;
    right: 150px;
    text-align: center;
    margin-top: 90px;
    padding: 15px 20px;
    background: pink;
    color: black;
    font-weight: 600;
    cursor: pointer;
}

.room {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 80%;
}

.title {
    font-size: 4em;
    font-family: 'Cabin Sketch';
    font-weight: 200;
}

.year {
    margin-top: 10px;
    font-size: 2.8em;
}

.faqq {
    font-weight: 400;
    cursor: pointer;
}

.off {
    display: none;
}

#intro {
    background-color: #2D313A;
}

#about {
    background-color: #172120;
}

#faq {
    background-color: #222028;
}

#schedule {
    background-color: #484848;
}
