/* General Structure */
html, body {
  padding: 0;
  margin: 0;
  color: white;
  background: black;
  height: 100%;
}
.email-link {
  color: white;
  text-decoration: underline;
}
.section {
  min-height: 100vh;
  display: grid;
  grid-template-areas:
    "room content";
  grid-template-columns: calc(25vw + 278px) calc(75vw - 278px);
}
.left {
  text-align: center;
  grid-area: "room";
  align-self: center;
}
.room {
  width: 100%;
}
.right {
  font-family: 'Montserrat';
  font-weight: 300;
  text-align: right;
  grid-area: "content";
}
.nonintro {
  text-align: left;
}
.subinfo {
  display: block;
}
.subnonintro {
  margin-bottom: 20px;
}
.scheduleinfo {
  margin-bottom: 5px;
}
.register {
  width: 278px;
  text-align: center;
  padding: 15px 0;
  margin-left: auto;
  margin-right: 0;
  background: pink;
  color: black;
  font-weight: 600;
  cursor: pointer;
}
.title {
  font-family: 'Share Tech Mono';
}
.year {
  margin-top: 10px;
}
#intro {
  background-color: #2D313A;
}
#about {
  background-color: #172120;
}
#faq {
  background-color: #222028;
}
#schedule {
  background-color: #484848;
}
@media (min-width: 951px) {
  .left {
    padding-right: 16px;
    padding-left: 16px;
  }
  .right {
    padding-right: 100px;
    padding-left: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .subinfo {
    font-size: 1.3em;
  }
  .otherinfo {
    margin-top: 60px;
  }
  .subnonintro {
    font-size: 1.2em;
  }
  .room {
    margin-top: auto;
    margin-bottom: auto;
  }
  .title {
    font-size: 4em;
  }
  .year {
    font-size: 2.8em;
  }
  .faqq {
    font-weight: 400;
  }
  .register {
    margin-top: 90px;
  }
}
@media (max-width: 950px) {
  .section {
    display: grid;
    grid-template-areas:
      "room"
      "content";
    grid-template-rows: 50vh auto;
    grid-template-columns: 100vw;
  }
  .left {
    width: 100vw;
  }
  .right {
    width: 100vw;
    margin: 0 auto;
    padding-bottom: 30px;
  }
  .otherinfo {
    margin-top: 30px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  .title {
    font-size: 2em;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  .subtitle {
    text-align: center;
  }
  .year {
    font-size: 1.6em;
  }
  .register {
    margin: 30px auto 0 auto;
  }
  .room {
    max-width: 300px;
  }
}
