/* General Structure */
html, body {
  padding: 0;
  margin: 0;
  color: white;
  background: black;
  height: 100%;
}
.email-link {
  color: white;
  text-decoration: underline;
}
.section {
  min-height: 100vh;
  display: grid;
  grid-template-areas:
    "room content";
  grid-template-columns: calc(25vw + 278px) calc(75vw - 278px);
}
.left {
  text-align: center;
  grid-area: "room";
  align-self: center;
}
.room {
  width: 100%;
}
.right {
  font-family: 'Montserrat';
  font-weight: 300;
  text-align: right;
  grid-area: "content";
}
.nonintro {
  text-align: left;
}
.subinfo {
  display: block;
}
.subnonintro {
  margin-bottom: 20px;
}
.scheduleinfo {
  margin-bottom: 5px;
}
.register {
  width: 278px;
  text-align: center;
  padding: 15px 0;
  margin-left: auto;
  margin-right: 0;
  background: pink;
  color: black;
  font-weight: 600;
  cursor: pointer;
}
.title {
  font-family: 'Share Tech Mono';
}
.year {
  margin-top: 10px;
}
#intro {
  background-color: #2D313A;
}
#about {
  background-color: #172120;
}
#faq {
  background-color: #222028;
}
#schedule {
  background-color: #484848;
}
@media (min-width: 951px) {
  .left {
    padding-right: 16px;
    height: 100%;
  }
  .right {
    padding-left: 16px;
  }
/*   .section { */
/*     position: relative; */
/*     overflow-y: auto; */
/*   } */
/*   .left { */
/*     box-sizing: border-box; */
/*     width: calc(80vw - 278px); */
/*     height: 100vh; */
/*     min-height: 100vh; */
/*     display: flex; */
/*     align-items: flex-start; */
/*     justify-content: space-around; */
/*     position: relative; */
/*   } */
/*   .right { */
/*     box-sizing: border-box; */
/*     padding: 100px; */
/*     padding-right: 150px; */
/*     width: calc(20vw + 278px); */
/*     min-height: 100vh; */
/*     display: inline-block; */
/*     float: right; */
/*     text-align: right; */
/*     position: relative; */
/*   } */
/*   .nonintro { */
/*     padding: 130px; */
/*     padding-left: 50px; */
/*   } */
/*   .otherinfo { */
/*     margin-top: 60px; */
/*     position: relative; */
/*   } */
  .subinfo {
    font-size: 1.3em;
  }
  .subnonintro {
    font-size: 1.2em;
  }
/*   .register { */
/*     margin-top: 90px; */
/*   } */
  .room {
    position: sticky;
    top: 50%;
/*     bottom: 20px; */
/*     align-self: flex-end; */
/*     /1* transform: translateY(-50%); *1/ */
/*     width: 40vw; */
  }
  .title {
    font-size: 4em;
  }
/*   .title-align { */
/*     width: 278px; */
/*   } */
  .year {
    font-size: 2.8em;
  }
  .faqq {
    font-weight: 400;
  }
}
@media (max-width: 950px) {
  .section {
    display: grid;
    grid-template-areas:
      "room"
      "content";
    grid-template-rows: 50vh auto;
    grid-template-columns: 100vw;
/*     display: flex; */
/*     flex-direction: column; */
/*     justify-content: center; */
/*     text-align: center; */
  }
  .left {
    width: 100vw;
/*     padding-top: 30px; */
  }
  .right {
    width: 100vw;
/*     margin: 0 auto; */
/*     padding-bottom: 30px; */
  }
/*   .otherinfo { */
/*     margin-top: 30px; */
/*     width: 80%; */
/*     margin-left: auto; */
/*     margin-right: auto; */
/*   } */
/*   .register { */
/*     margin-top: 30px; */
/*     margin-left: auto; */
/*     margin-right: auto; */
/*   } */
  .room {
    max-width: 300px;
  }
/*   .title { */
/*     font-size: 2em; */
/*     width: 80%; */
/*     margin-left: auto; */
/*     margin-right: auto; */
/*   } */
/*   .year { */
/*     font-size: 1.6em; */
/*   } */
}
