/* General Structure */
html, body {
  padding: 0;
  margin: 0;
  color: white;
  background: black;
  height: 100%;
}
.email-link {
  color: white;
  text-decoration: underline;
}
.section {
  width: 100vw;
  min-height: 100vh;
  display: grid;
}
.section-left {
  grid-template-areas: "room content";
  grid-template-columns: calc(25vw + 278px) calc(75vw - 278px);
}
.section-right {
  grid-template-areas:
  "room content";
  grid-template-columns: calc(75vw - 278px) calc(25vw + 278px);
}
.left {
  text-align: center;
  grid-area: "room";
  align-self: center;
}
.room {
  max-width: 80%;
  max-height: 90vh;
}
.right {
  font-family: 'Lato';
  font-weight: 300;
  text-align: right;
  grid-area: "content";
}
.nonintro {
  text-align: left;
}
.subinfo {
  display: block;
}
.subnonintro {
  margin-bottom: 20px;
}
.scheduleinfo {
  margin-bottom: 5px;
}
#register {
  width: 278px;
  text-align: center;
  padding: 15px 0;
  margin-left: auto;
  margin-right: 0;
  background: pink;
  color: black;
  font-weight: 600;
  cursor: pointer;
}
.title {
  font-family: 'TruenoBold';
}
#year {
  margin-top: 10px;
}
#intro {
  background-color: #2D313A;
}
#about {
  background-color: #172120;
}
#about > .right {
  line-height: 1.7;
}
#faq {
  background-color: #222028;
}
.faqq {
  font-weight: 600;
  padding-top: 30px;
}
#schedule {
  background-color: #484848;
}
#mlh-trust-badge {
  display:block;
  max-width:50px;
  min-width:48px;
  position:absolute;
  right:10px;
  top:0;
  width:10%;
  z-index:10000;
}
#tagline {
  font-family: "TruenoLightItalic";
  font-size: 30px;
  padding-bottom: 20px;
}
@media (min-width: 601px) {
  .room-mobile {
    display: none;
  }
  .left {
    padding-right: 16px;
    padding-left: 16px;
  }
  #intro {
    min-height: 100vh;
    display: grid;
    grid-template-areas:
      "room content";
    grid-template-columns: calc(90vw - 446px) calc(10vw + 446px);
  }
  #schedule {
    min-height: 100vh;
    display: grid;
    grid-template-areas:
      "room content";
    grid-template-columns: calc(65vw - 278px) calc(35vw + 278px);
  }
  #schedule .room {
    height: 100%;
    width: auto;
  }
  #schedule .left {
    padding-right: 32px;
  }
  .right {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #intro .right {
    padding-right: 6vw;
    padding-left: 4vw;
  }
  #schedule .right {
    padding-left: 30px;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
  }
  .right {
    padding-right: 70px;
    padding-left: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .subinfo {
    font-size: 1.3em;
  }
  .otherinfo {
    margin-top: 20px;
    max-width: 50vw;
  }
  .subnonintro {
    font-size: 1.2em;
  }
  .room {
    margin-top: auto;
    margin-bottom: auto;
  }
  .title {
    font-size: 3.5em;
    letter-spacing: 0.1em;
  }
  #year {
    font-size: 2.8em;
  }
  #register {
    margin-top: 75px;
  }
  #tagline {
    text-align: right;
  }
  .mobileonly {
    display: none;
  }
}

/* Applies to everything smaller */
@media (max-width: 600px) {
  .left {
    display: none;
  }
  .right {
    width: 75vw;
    margin-top: auto;
    text-align: left;
    padding-left: 40px;
  }
  #register {
    margin-left: 0;
    margin-top: 20px;
    width: 180px;
  }
  #intro {
    max-height: 100vh;
    background-image: url("img/rooms/home_mobile.png");
    background-size: auto 100vh;
    background-repeat: no-repeat;
    background-position: center;
  }
  .room {
    display: none;
  }
  #tagline {
    display: none;
  }
  .title {
    font-family: 'TruenoRegular';
    font-size: 1.8em;
    width: 80%;
  }
  #year {
    margin-top: 0;
    margin-bottom: 10px;
  }
  .titlesubinfo {
    display: inline;
  }
}

@media (max-width: 950px and min-width: 451px) {
  .right {
    width: 100vw;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 30px;
  }
  .otherinfo {
    margin-top: 30px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  #subtitle {
    text-align: center;
  }
  #year {
    font-size: 1.6em;
  }
  #register {
    margin: 20px auto 0 auto;
  }
}
@media (max-width: 450px) {
}
